@charset "utf-8";

$clr-theme-1: $clr-light-blue-800;
$clr-theme-2: $clr-light-blue-300;
$clr-theme-3: $clr-light-blue-50;
$clr-theme-4: $clr-light-blue-100;
$clr-theme-5: $clr-light-blue-200;
$clr-theme-6: $clr-light-blue-400;
$clr-theme-7: $clr-light-blue-500;
$clr-theme-8: $clr-light-blue-600;
$clr-theme-9: $clr-light-blue-700;
$clr-theme-10: $clr-light-blue-900;
$clr-theme-11: $clr-light-blue-a100;
$clr-theme-12: $clr-light-blue-a200;
$clr-theme-13: $clr-light-blue-a400;
$clr-theme-14: $clr-light-blue-a700;

$clr-poke-red: #ee8329;
$clr-poke-green: #20b49c;
$clr-poke-blue: #5a8bcd;
$clr-poke-yellow: #f6e652;
